html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('assets/metal-texture-1544288.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Source Sans Pro', sans-serif;
	text-shadow: 1px 1px 2px #000000;
}

form {
	padding: 6px 12px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.blinking {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0.5;
	}
}