:host {
	display: flex;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

.current-value {
	position: absolute;
	pointer-events: none;
	font-size: 40vw;
	opacity: 0.3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.button-adjust {
	flex: initial;
	width: 80px;
	font-size: 4em;
}

.buttons {
	flex: 1;
	display: flex;
	font-size: 10vmin;
	flex-direction: row;
	flex-wrap: wrap;

	.button {
		flex: 33%;
	}

	.button-cancel {
		flex: 40%;
	}

	.button-go {
		flex: 60%;
	}
}

button {
	background: none;
	border: 2px solid transparent;
	cursor: pointer;
	touch-action: manipulation;

	color: #fff;
	outline: none;
	white-space: nowrap;

	&:focus {
		color: #00db00;
		border-color: #0f0;
	}
}

.button-cancel {
	opacity: 0.5;
}
