:host {
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.current-value {
	position: absolute;
	pointer-events: none;
	font-size: 40vw;
	opacity: 0.3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-adjust {
	flex: initial;
	width: 80px;
	font-size: 4em;
}

.buttons {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 10vmin;
}

.button-go {
	grid-column: 2 / span 2;
}

.button-cancel {
	opacity: 0.5;
}

button {
	background: none;
	border: 2px solid transparent;
	cursor: pointer;

	color: #fff;
	outline: none;

	&:hover {
		background: #333;
	}

	&:focus {
		color: #00db00;
		border-color: #0f0;
	}
}