:host {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 20px;
}

.positive {
	color: #00ff00;
}

.negative {
	color: red;
}

.status {
	flex: initial;
	width: 160px;
	margin-right: 10px;
	font-size: 1.5em;

	div {
		padding: 12px;
	}

	i {
		margin-right: 6px;
	}
}

.state {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;
	flex-wrap: wrap;
	overflow: hidden;

	.speed {
		flex: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 40vh;

		.amount {
			flex: 4;
			font-size: 25vw;
			text-align: right;
			pointer-events: none;
		}

		.unit {
			flex: 1;
			writing-mode: vertical-rl;
			text-orientation: mixed;
			font-size: 8vw;
			pointer-events: none;
		}
	}

	.stat {
		flex: 50%;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 20vh;

		.amount {
			display: block;
			flex: 4;
			font-size: 10vw;
			text-align: right;
			pointer-events: none;
			overflow: hidden;
		}

		.unit {
			display: block;
			flex: 1;
			text-align: left;
			font-size: 3vw;
			writing-mode: vertical-rl;
			text-orientation: mixed;
			pointer-events: none;
		}
	}

	.unit {
		opacity: 0.5;
	}
}
